#**Salary Prediction**

**Objective :**The objective of this salary prediction project is to develop a machine learning algorithm that accurately predicts salaries based on an individual's age and years of experience.

**Data Source :** Dataset from GitHub.

#Import Library

In [93]:
import pandas as pd

#Import Dataset

In [94]:
df = pd.read_csv("https://github.com/Arky001/Salary_Prediction/raw/main/Salary%20Data.csv")

#Get first five rows of dataframe

In [95]:
df.head()

   Experience Years  Salary
0               1.1   39343
1               1.2   42774
2               1.3   46205
3               1.5   37731
4               2.0   43525

#Get Information of Dataframe

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Experience Years  40 non-null     float64
 1   Salary            40 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 768.0 bytes

#Get Summary Statistics

In [97]:
df.describe()

       Experience Years         Salary
count         40.000000      40.000000
mean           5.152500   74743.625000
std            2.663715   25947.122885
min            1.100000   37731.000000
25%            3.200000   56878.250000
50%            4.600000   64472.500000
75%            6.875000   95023.250000
max           10.500000  122391.000000

#Get columns names

In [98]:
df.columns

Index(['Experience Years', 'Salary'], dtype='object')

#Get Shape of Dataframe

In [99]:
df.shape

(40, 2)

#Define Feature(x) and Target(y) variable

In [100]:
y=df["Salary"]

In [101]:
x=df[["Experience Years"]]

#Get Train Test Split

In [102]:
from sklearn.model_selection import train_test_split

In [103]:
x_train, x_test, y_train, y_test = train_test_split(x,y,train_size=0.7,random_state=2529)

In [104]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((28, 1), (12, 1), (28,), (12,))

#Get Model Train

In [105]:
from sklearn.linear_model import LinearRegression

In [106]:
model = LinearRegression()

In [107]:
model.fit(x_train,y_train)

LinearRegression()

In [108]:
model.intercept_

26596.961311068262

In [109]:
model.coef_

array([9405.61663234])

#Get Model Prediction

In [110]:
y_pred = model.predict(x_test)

In [111]:
y_pred

array([ 90555.15441095,  59516.61952424, 106544.70268592,  64219.42784041,
        68922.23615658, 123474.81262412,  84911.78443155,  63278.86617718,
        65159.98950364,  61397.74285071,  37883.70126987,  50111.00289191])

#Get Model Evaluation

In [112]:
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error, mean_squared_error

In [113]:
mean_absolute_error(y_test,y_pred)

4005.9263101681768

In [114]:
mean_absolute_percentage_error(y_test,y_pred)

0.06384602996141632

In [115]:
mean_squared_error(y_test,y_pred)

24141421.671440993